@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}

:root{
    --main-color:#074173;
    --first-color:#1679AB;
    --second-color:#5DEBD7;
    --third-color:#C5FF95;
    --optional:#7BC9FF;
    --optional2:#00224D;
}

body{
    /* background-color: var(--main-color); */
    background-color: var(--optional2);
}

.container{
    height:100vh;
}

/* navbar */
.nav-bar{
    display:flex;
    width:100%;
    justify-content: space-around;
    font-family: 'Montserrat',sans-serif;
    position: fixed;
    padding:1rem 2rem;
    font-size:1.2rem;
    backdrop-filter:blur(10px);
    color:var(--third-color);
    background:rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo-name{
    width:50%;
    z-index:999;
    font-size:2.5rem;
    
}

.nav-links{
    display:flex;
    justify-content: space-evenly;
    width:50%;
    z-index:999;
}
 
.nav-links li{
    list-style-type: none;
}

.nav-links li:hover{
    text-decoration: underline;
    color:var(--optional);
}

.profile-pic{
    background-image:url('/images/my_pic_rmbg.png');
    width:500px;
    height:500px;
    background-repeat:none;
    background-size: cover;
    
}

.page1-content{
    display:flex;
    justify-content: space-around;
    align-items:center;
    position:relative;
    top:200px;
}

.profile-pic-content{
    color:var(--second-color);
    /* font-family:"Cedarville Cursive", cursive; */
    font-family:cursive,sans-serif;
    font-weight:800;
    font-size:xx-large;
    font-style: normal;
    margin:0 3rem;
  

}

.myname{
    font-size:8rem;
    font-family:'Pacifico';
}

.titles{
    color:var(--third-color);
}

.coding-status{
    color:var(--third-color );
}